@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    .container {
        max-width:inherit !important;
        height: 116px;
    }
    .logo1 {
        height: 100px;
       
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <div id="root"></div>
    </header>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />

    <link rel="stylesheet"
          href="https://cdn.auth0.com/js/auth0-samples-theme/1.0/css/auth0-theme.min.css" />
    
</body>
</html>
@*<script src="~/Script/bundle.js"></script>*@
<script src="https://cdn.jsdelivr.net/gh/KalpeshVaza/new_webpack@latest/dist/bundle.js"></script>